

<section class="watch">

    <div class="watch__overlay-text">WATCH NOW WATCH</div>

    <div class="watch__container">

        <div class="watch__image">
            <img src="/assets/images/imagen4.jpg" alt="imagen3">
        </div>

        <div class="watch__content">
            <h2 class="watch__title"></h2>

            <p class="watch__text">
                IT'S HARD TO TELL THE DIFFERENCE BETWEEN DATA SCIENCE HYPE AND REALITY.
                DATA SCIENCE PIONEERS IS NOW AVAILABLE. WHAT ARE YOU WAITING FOR?
            </p>

            <a href="#" class="watch__button">WATCH NOW</a>
        </div>

    </div>

</section>


