<!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item"><a href="/index.html" 
                class="navbar__link">Home</a></li>
            <li class="navbar__item"><a href="/views/pages/pressboom.html"
                 class="navbar__link">Watch on Demand</a></li>
            <li class="navbar__item"><a href="/views/pages/stayInTheLoop.html"
                 class="navbar__link">Stay in the Loop</a></li>
            <li class="navbar__item"><a href="/views/pages/watchOnTheMan.html"
                 class="navbar__link">Press Room</a></li>
        </ul>
    </nav><!-- Navbar -->