.watch{
    position: relative;
    background-color: #0b1120;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
   

}
.watch__overlay-text{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-align: right;
    z-index: 1000;
}

.watch__container{
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
    z-index: 0;
}
.watch__image {
    position: relative;
    width: 600px;  
    height: 700px;
    padding: 20px;
    background-color: rgba(0 0 0 / 60%);
}

.watch__image img {
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
    display: flex;
    z-index: 5;
}
.watch__content{
    max-width: 400px;
    color: white;

}
.watch__button{
    display: inline-block;
    margin-top: 20px;
    background: #00d4ff;
    padding: 12px 25px;
    border-radius: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
@media (width > 768px) {

    

    .hero__button{
        width: auto;
    }
    .watch{
        padding: 0 200px;
        gap: 100px;
    }
    .watch__overlay-text{
        font-size: 120px;
        text-align: center;
    }
    .watch__image{
        width: 400px;
    }
}   